{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h2>Добро пожаловать на главную страницу</h2>
    <p>Проект «Food API» представляет собой разработку API с использованием Python и фреймворков Django.
        В рамках проекта необходимо выполнить следующие задачи:
</p>
 <ul>
 <li>Проектирование и реализация структуры базы данных для хранения продуктов и категорий.</li>
 <li>Разработка API с указанными эндпоинтами:
     <ul> GET /api/v1/foods — получение информации о продуктах разрешенных к публикации;</ul>
 </li>
 </ul>
{% endblock %}